<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-lazy-init="true">

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" lazy-init="default">
		<property name="configLocation" value="classpath:sqlMapConfig.xml" />
		<property name="dataSource" ref="dataSource" />
		<!-- <property name="lobHandler" ref="lobHandler" /> -->
	</bean>

	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

<!-- 	
	<bean id="ibatisDataAccessObject" class="com.platform.dao.impl.IbatisDataAccessObjectImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate" />
		<property name="maxRows" value="${ibatis.maxrows}" />
	</bean> 
-->
		
	<bean id="ibatisDataAccessObject" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.platform.dao.impl.IbatisDataAccessObjectImpl"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean> 
</beans>